{% extends "base_template.html" %}
{% from "_render_elements.html" import render_input %}

{% block title %}
    Ordeplos | Creacion de roles
{% endblock %}

{% block content %}

<div class="row">
	<div class="offset-md-3 col-md-6">
		<h1 class="display-4">Creacion de roles</h1>
	</div>
	<div class="offset-md-3 col-md-6">		
		<form action="" method="post" class="mx-auto mt-4" enctype="multipart/form-data" novalidate>	
			{{ form.hidden_tag() }}
			<div class="row mb-3">
				{{ render_input(form.descripcion,'', id= "descripcion" , value= descripcion_rol, class="form-control", placeholder="Nombre del Rol" ) }}
			</div>
			<button type="submit" class="btn btn-primary">Guardar</button>
		</form>
	</div>
	<div class="offset-md-3 col-md-6">
		{% if todos_los_roles %}
		<div class="offset-md-3 col-md-6">
			<table class="table table-striped table-hover mb-4">
				<thead>
					<tr>
						<th>ID</th>
						<th>ROL</th>
						<th>ACCION</th>
					</tr>
				</thead>
				<tbody>
					{% for rol in todos_los_roles %}
						<tr>
							<th>{{ rol.id }}</th>
							<th>{{ rol.descripcion }}</th>
							<td>
								<div class="dropdown">
									<button class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
										Acción
									</button>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item"  href="{{ url_for('abms.asignar_permisos_roles', id_rol = rol.id) }}">Asignar permisos</a></li>
									</ul>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>	
		{% endif %}
	</div>
</div>
{% endblock %}