{% extends "base_template.html" %}
{% from "_render_elements.html" import render_input %}

{% block title %}
	Ordeplos | Alta de tipos de estados
{% endblock %}

{% block content %}
<div class="row">
	<div class="offset-md-3 col-md-6">
		<h1 class="display-4">Alta estados</h1>
	</div>
	<div class="offset-md-3 col-md-6">
		<form action="" method="post" class="mx-auto mt-4" enctype="multipart/form-data" novalidate>	
            {{ form.hidden_tag() }}
			<div class="row mb-3">
				{{ render_input(form.clave,'', id= "clave" , placeholder="Clave de estado" ) }}
				{{ render_input(form.descripcion,'', id= "tipo" , placeholder="Nombre del estado" ) }}
				{{ render_input(form.tabla,'', id= "tabla" , class="form-control", placeholder="Elija la tabla de referencia" ) }}
				<div class="col-md-6">
					{{ render_input(form.inicial,'', id= "inicial" , class="form-check-input" ) }}
				</div>
				<div class="col-md-6">						
					{{ render_input(form.final,'', id= "final", class="form-check-input"  ) }}
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Guardar</button>
		</form>
	</div>
</div>
{% if estados %}
	<div class="offset-md-3 col-md-6">
		<table class="table table-striped table-hover mb-4">
			<thead>
				<tr>
					<th>ID</th>
					<th>CLAVE</th>
					<th>NOMBRE</th>
					<th>TABLA</th>
					<th>¿INICIAL?</th>
					<th>¿FINAL?</th>
					<th>ACCION</th>
				</tr>
			</thead>
			<tbody>
				{% for estado in estados %}
					<tr>
						<th> {{ estado.id }}</th>
						<td> {{ estado.clave }}</td>
						<td> {{ estado.descripcion }}</td>
						<td> {{ estado.tabla }}</td>
						<td> {{ estado.inicial }}</td>
						<td> {{ estado.final }}</td>
						<td>
							<div class="dropdown">
								<button class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
									Acción
								</button>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="#">Modificar</a></li>
								</ul>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endif %}
{% endblock %}