{% extends "base_template.html" %}
{% from "_render_elements.html" import render_input %}

{% block title %}
    Ordeplos | Alta de tipos de gestiones
{% endblock %}

{% block content %}
<div class="row">
	<div class="offset-md-3 col-md-6">
		<h1>Alta de tipos de gestiones</h1>

		<form action="" method="post" enctype="multipart/form-data" novalidate>	
            {{ form.hidden_tag() }}
			{{ render_input(form.tipo,'', id= "tipo" , class="form-control", placeholder="Tipo de gestion" ) }}
			<button type="submmit" class="btn btn-primary" >Guardar</button>
			
		</form>
	</div>

</div>
{% if tipos %}
	<div class="offset-md-3 col-md-6">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">NOMBRE</th>
					<th scope="col">ACCION</th>
					
				</tr>
			</thead>
			
			<tbody>
				{% for tipo in tipos %}
					<tr>
						<th scope="row">{{ tipo.id }}</th>
						<td> {{ tipo.descripcion }}</td>
					
						<td>
							<div class="dropdown">
								<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Acción
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item"  href="{{ url_for('abms.alta_tareas_por_tipo_gestion', id_tipo_gestion = tipo.id) }}">Cargar tareas</a>
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endif %}
{% endblock %}