{% extends "base_template.html" %}
{% from "_render_elements.html" import render_input %}

{% block title %}
    Ordeplos | Administración de usuarios
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card">       
            <div class="card-body">
                <h2>Detalle del usuario</h2>
                <div>
                    Nombre: <strong>{{ user.persona.descripcion_nombre }}</strong> 
                </div>
                <div>
                    Email: <strong>{{ user.persona.correo_electronico }}</strong>
                </div>
                <div>
                    Username: <strong>{{ user.username }}</strong>
                </div>
                <a href="{{ url_for('auth.forgot_password_by_admin', username=user.username) }}" >
                    <button class="btn btn-primary ">Restablecer contraseña</button>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">       
            <div class="card-body">
                <form action="" method="post" class="mx-auto mt-4" enctype="multipart/form-data" novalidate>	
                    {{ form.hidden_tag() }}
                    {{ render_input(form.is_admin,'', id= "is_admin" , class="form-check-input" ) }}
                    <button type="submmit" class="btn btn-primary" >Guardar cambios</button>
                </form>
                <a href="{{ url_for('admin.delete_user', user_id=user.id) }}" >
                    <button class="btn btn-primary mt-2">Desactivar Usuario</button>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">       
            <div class="card-body">
                <a href="{{ url_for('admin.asignacion_permisos', user_id=user.id) }}" >
                    <button class="btn btn-primary mt-2">Asignar permisos</button>
                </a>
                <a href="{{ url_for('admin.asignacion_roles', user_id=user.id) }}" >
                    <button class="btn btn-primary mt-2">Asignar roles</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}