{% extends "base_template.html" %}
{% from "_render_elements.html" import render_input %}

{% block title %}
    Ordeplos | Alta de gestiones
{% endblock %}

{% block content %}

 <div class="row">
    <div class="offset-md-2 col-md-8">
        <h1>Nueva gestión</h1>
        <form action="" method="post" class="form-horizontal" enctype="multipart/form-data" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ render_input(form.descripcion_nombre, '', id="descripcion_nombre", class="form-control", placeholder="Nombre y apellido", autocomplete="off" ) }}
            </div>
            <div class="form-group">
                {{ render_input(form.correo_electronico,'', id= "correo_electronico" , class="form-control", placeholder="Ingrese correo electronico del cliente" ) }}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ render_input(form.genero,'', id= "genero", class="form-control" ) }}
                    </div>
                    <div class="form-group">
                        {{ render_input(form.tipo_persona,'', id= "tipo_persona" , class="form-control") }}
                    </div> 
                    <div class="form-group">
                        {{ render_input(form.fecha_nacimiento,'', id= "fecha_nacimiento" , class="form-control" ) }}
                    </div>
                    <div class="form-group">
                        {{ render_input(form.telefono, '', id="telefono",  class="form-control", placeholder="Ingrese el telefono") }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ render_input(form.direccion, '', id="direccion",  class="form-control", placeholder="Ingrese el domicilio") }}
                    </div>
                    <div class="form-group">
                        {{ render_input(form.id_localidad, '', id="id_localidad",  class="form-control", placeholder="Ingrese la localidad", list="lista_localidades", autocomplete="off") }}
                    </div>
                    <div class="form-group">
                        {{ render_input(form.dni,'', id= "dni" , class="form-control", placeholder="Ingrese el DNI") }}
                    </div>
                    <div class="form-group">
                        {{ render_input(form.cuit,'', id= "cuit" , class="form-control", placeholder="Ingrese el CUIT" ) }}
                    </div>
                
                </div>
            </div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                +
            </button>
            <div class="form-group">
                {{ render_input(form.origen, '', id="origen", class="form-control", placeholder="Elija el origen del cliente", list="lista_origen", autocomplete="off" ) }}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ render_input(form.fecha_cita,'', id= "fecha_cita",  class="form-control", type="date"  ) }}
                    </div>
                    <div class="form-group">
                        {{ render_input(form.cita,'', id= "cita" ,class="form-check-input") }}
                    </div> 
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        {{ render_input(form.fecha_inicio_gestion, '', id="fecha_inicio_gestion",  class="form-control", type="date") }}
                    </div>
                    <div class="form-group">
                        {{ render_input(form.id_tipo_gestion,'', id= "id_tipo_gestion" , class="form-control") }}
                    </div>
                
                </div>
            </div>

            <div class="form-group">
                {{ render_input(form.observacion, '', id="observacion", class="form-control", placeholder="Ingrese una observación", autocomplete="off") }}
            </div>


            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>

<datalist id="lista_origen">
    {% for origen in origen_gestion %}
    <option  value="{{ origen.descripcion_nombre}}">
    {% endfor %}
</datalist>
<datalist id="lista_localidades">
    {% for localidad in localidades %}
    <option  value="{{localidad.id}} | {{ localidad.localidad }} | {{ localidad.provincia }} ">
    {% endfor %}
</datalist>

{% endblock %}