{% extends "base_template.html" %}
{% from "_render_elements.html" import render_input %}

{% block title %}
	Ordeplos | Nuevo documento
{% endblock %}

{% block content %}
    

<div class="row">
	<div class="offset-md-3 col-md-6">
		<h1 class="display-4">Nuevo documento</h1>
	<a href=" {{ url_for('gestiones.nuevo_documento', id_gestion=gestion.id) }} ">
    <button class="btn btn-primary"type="submit">Reiniciar documento</button>
</a>
	</div>
	<div class="offset-md-3 col-md-6">
		<form action="" method="post" class="mx-auto mt-4" enctype="multipart/form-data" novalidate>	
            {{ form.hidden_tag() }}
			<div class="row mb-3">
				{% if not documento_formateado %}
					{{ render_input(form.id_modelo_documento,'', id= "id_modelo_documento"  ) }}
					<button type="submit" class="btn btn-primary">Seleccionar</button>
				{% else %}
					<h6>Modelo de documento: {{ documento.descripcion}}</h6>
					
					<div id="editor">
						 {{ documento_formateado|safe }}
					</div>
					{{ form.texto(id="texto") }}
					<!-- queda oculto para que commitee la base de datos. -->
					<div style="display: none;">
    				    {{ form.id_modelo_documento }}
 				   </div>
				   <button type="submit" class="btn btn-primary">Guardar</button>
				{% endif %}
			</div>
            
		</form>

	</div>
</div>
{% endblock %}

