{% extends "base_template.html" %}
{% from "_render_elements.html" import render_input %}

{% block title %}
    Groma | Gestiones
{% endblock %}

{% block content %}
<div class="row">
	<div class="offset-md-3 col-md-6">
		<h1>Alta de Gestiones</h1>
        <p>Buscando un cliente puede iniciar el alta de una gestión.</p>
            <form action="" method="post" enctype="multipart/form-data" novalidate>	
                {{ form.hidden_tag() }}
                {{ render_input(form.buscar,'', id= "buscar" , class="form-control", placeholder="Ingrese nombre/razón social o CUIT" ) }}
                <button type="submmit" class="btn btn-primary" >Buscar</button>
            </form>
            <a href="{{ url_for('admin.alta_persona')}}"></br>
                <button class="btn btn-primary">Crear un nuevo cliente</button>
            </a> 
         
    </div>
</div>
{% if lista_de_personas.items %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">CUIT</th>
            <th scope="col">CORREO ELECTRONICO</th>
            <th scope="col">TIPO DE PERSONA</th>
            <th scope="col">ACCION</th> 
        </tr>
    </thead>
    
    <tbody>
        {% for persona in lista_de_personas.items %}
            <tr>
                <th scope="row">{{ persona.id }}</th>
                <td> {{ persona.descripcion_nombre }}</td>
                <td> {{ persona.cuit  }} </td>
                <td> {{ persona.correo_electronico }}</td>
                <td> {{ persona.tipo_persona }}</td>
                <td>
                <div class="dropdown">
                    <button class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                        Acción
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"  href="{{ url_for('gestiones.alta_gestiones', id_cliente = persona.id) }}">Nueva gestion</a></li>
                        <li><a class="dropdown-item"  href="{{ url_for('consultas.lista_gestiones', cuit = persona.cuit) }}">Ver gestiones</a></li>
                    </ul>
                </div>
                 </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<nav aria-label="Page navigation example">
	<ul class="pagination justify-content-center">
            <!-- <li class="page-item disabled">
                <a class="page-link" href="#">Anterior</a>
            </li> -->
        {%- for page in lista_de_personas.iter_pages() %}
			{% if page %}

				{% if page != lista_de_personas.page %}
					<li class="page-item"><a class="page-link" href="{{ url_for('gestiones.gestiones', criterio= criterio, page=page) }}">{{ page }}</a>
				{% else %}
					<li class="page-item active">
						<span class="page-link">
							{{ page }}
							<span class="sr-only">(current)</span>
						</span>
					</li>
                {% endif %}
			{% endif %}
		{%- endfor %}
        <!-- <li class="page-item">
            <a class="page-link" href="#">Siguiente</a>
        </li> -->
	</ul>
</nav>


{% elif lista_de_personas %}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">CUIT</th>
            <th scope="col">CORREO ELECTRONICO</th>
            <th scope="col">TIPO DE PERSONA</th>
            <th scope="col">ACCION</th>
            
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <th scope="row">{{ lista_de_personas.id }}</th>
            <td> {{ lista_de_personas.descripcion_nombre }}</td>
            <td> {{ lista_de_personas.cuit  }} </td>
            <td> {{ lista_de_personas.correo_electronico }}</td>
            <td> {{ lista_de_personas.tipo_persona }}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Acción
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item"  href="{{ url_for('gestiones.alta_gestiones', id_cliente = lista_de_personas.id) }}">Nueva gestion</a>
                    <a class="dropdown-item"  href="{{ url_for('consultas.lista_gestiones', cuit = lista_de_personas.cuit) }}">Ver gestiones</a>
                    <a class="dropdown-item"  href="#">Seleccionar</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>

{% endif %}

{% endblock %}