{% extends "base_template.html" %}
{% from "_render_elements.html" import render_input %}

{% block title %}
    Ordeplos | Modificación de gestiones
{% endblock %}

{% block content %}

<div class="row">
    <div class="offset-md-2 col-md-8">
        <h1>Modificar gestión </h1>
        <div class="form-group">
           Nombre: {{ gestion.personas.descripcion_nombre}}
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                  Genero: {{ gestion.personas.genero }}
                </div>
                <div class="form-group">
                Tipo de persona: {{gestion.personas.tipo_persona }}
                </div> 
                <div class="form-group">
                 Correo Electrónico: {{ gestion.personas.correo_electronico}}
                </div>
            </div>
            <div class="col-md-6">

                <div class="form-group">
                   Telefono: {{ gestion.personas.telefono }}
                </div>
                <div class="form-group">
                   DNI: {{ gestion.personas.dni}}
                </div>
                <div class="form-group">
                   CUIT: {{ gestion.personas.cuit }}
                </div>
            
            </div>
        </div>
        
        <form action="" method="post" class="form-horizontal" enctype="multipart/form-data" novalidate>
            {{ form.hidden_tag() }}
              
            <div class="form-group">
                {{ render_input(form.origen, '', id="origen", class="form-control", placeholder="Elija el origen del cliente", list="titulares", autocomplete="off" ) }}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ render_input(form.fecha_cita,'', id= "fecha_cita", class="form-control", type="date"  ) }}
                    </div>
                    <div class="form-group">
                        {{ render_input(form.cita,'', id= "cita" ,class="form-check-input") }}
                    </div> 
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        {{ render_input(form.fecha_inicio_gestion, '', id="fecha_inicio_gestion",  class="form-control", type="date") }}
                    </div>
                    <div class="form-group">
                        {{ render_input(form.id_tipo_gestion,'', id= "id_tipo_gestion" , class="form-control") }}
                    </div>
                
                </div>
            </div>

            <div class="form-group">
                {{ render_input(form.observacion, '', id="observacion", class="form-control", placeholder="Ingrese una observación", autocomplete="off") }}
            </div>


            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>

{% endblock %}