{% extends "base_template.html" %}
{% from "_render_elements.html" import render_input %}

{% block title %}
    Ordeplos | Nuevo paso
{% endblock %}

{% block content %}

<div class="row">
    <div class="offset-md-2 col-md-8">
        <h3>Cliente: {{ gestion.personas.descripcion_nombre }} </h3>
        <h3>Número de gestión: {{ gestion.id }} </h3>
        <h3>Titular: {{ gestion.titular }} </h3> 
    </div>
	<div class="offset-md-2 col-md-8">
		<h1>Nuevo paso</h1> 
        
		<form action="" method="post" class = "form-horizontal" enctype="multipart/form-data" novalidate>	
			{{ form.hidden_tag() }}
            {{ render_input(form.observacion,'', id= "observacion" , class="form-control", placeholder = "Observaciones"  ) }}
			<button type="submmit" class="btn btn-primary">Guardar</button>
			
		</form>
            
	</div>
</div> 


{% endblock %}