{% extends "base_template.html" %}
{% from "_render_elements.html" import render_input %}

{% block title %}
    Ordeplos | Gestiones
{% endblock %}

{% block content %}
<div class="row">
	<div class="offset-md-3 col-md-6">
		<h1>Consulta de Gestiones</h1>
            <form action="" method="post" enctype="multipart/form-data" novalidate>	
                {{ form.hidden_tag() }}
                {{ render_input(form.buscar,'', id= "buscar" , class="form-control", placeholder="Ingrese nombre/razón social o número de gestión" ) }}
                <button type="submmit" class="btn btn-primary" >Buscar</button>
            </form>
    </div>
</div>
{% if gestiones.items %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">CLIENTE</th>
            <th scope="col">ORIGEN</th>
            <th scope="col">TIPO DE GESTION</th>
            <th scope="col">ACCION</th> 
        </tr>
    </thead>
    
    <tbody>
        {% for gestion in gestiones.items %}
            <tr>
                <th scope="row">{{ gestion.id }}</th>
                <td> {{ gestion.personas.descripcion_nombre }}</td>
                <td> {{ gestion.origen }} </td>
                <td> {{ gestion.tipos_gestiones.descripcion }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                            Acción
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"  href="{{ url_for('gestiones.modificacion_gestiones', id_gestion = gestion.id) }}">Modificar gestión</a></li>
                            <li><a class="dropdown-item"  href="{{ url_for('gestiones.alta_cobros_cabecera', id_gestion = gestion.id) }}">Crear presupuesto cobro</a></li>
                            <li><a class="dropdown-item"  href="{{ url_for('gestiones.gestiones_tareas', id_gestion = gestion.id) }}">Tareas</a></li>
                            <li><a class="dropdown-item"  href="{{ url_for('consultas.tareas_pendientes', id_gestion = gestion.id) }}">Tareas pendientes</a></li>
                            <li><a class="dropdown-item"  href="{{ url_for('consultas.cobro', id_gestion = gestion.id) }}">Ver presupuesto cobro</a></li>
                            <li><a class="dropdown-item"  href="{{ url_for('consultas.caratula', id_gestion = gestion.id)}} ">Carátula</a></li>
                            <li><a class="dropdown-item"  href="{{ url_for('consultas.bitacora', id_gestion = gestion.id) }}">Bitácora</a></li>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<nav aria-label="Page navigation example">
	<ul class="pagination justify-content-center">

        {%- for page in gestiones.iter_pages() %}
			{% if page %}

				{% if page != gestiones.page %}
					<li class="page-item"><a class="page-link" href="{{ url_for('consultas.lista_gestiones', criterio= criterio, page=page) }}">{{ page }}</a>
				{% else %}
					<li class="page-item active">
						<span class="page-link">
							{{ page }}
							<span class="sr-only">(current)</span>
						</span>
					</li>
                {% endif %}
			{% endif %}
		{%- endfor %}
	</ul>
</nav>


{% elif gestiones %}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">CLIENTE</th>
            <th scope="col">ORIGEN</th>
            <th scope="col">TIPO DE GESTION</th>
            <th scope="col">ACCION</th>  
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <th scope="row">{{ gestiones.id }}</th>
            <td> {{ gestiones.personas.descripcion_nombre }}</td>
            <td> {{ gestiones.origen }} </td>
            <td> {{ gestiones.tipos_gestiones.descripcion }}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                        Acción
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"  href="{{ url_for('gestiones.modificacion_gestiones', id_gestion = gestiones.id) }}">Modificar gestión</a></li>
                        <li><a class="dropdown-item"  href="{{ url_for('gestiones.alta_cobros_cabecera', id_gestion = gestiones.id) }}">Crear presupuesto cobro</a></li>
                        <li><a class="dropdown-item"  href="{{ url_for('gestiones.gestiones_tareas', id_gestion = gestiones.id) }}">Tareas</a></li>
                        <li><a class="dropdown-item"  href="{{ url_for('consultas.cobro', id_gestion = gestiones.id) }}">Ver presupuesto cobro</a></li>
                        <li><a class="dropdown-item"  href="{{ url_for('consultas.caratula', id_gestion = gestiones.id)}} ">Carátula</a></li>
                        <li><a class="dropdown-item"  href="{{ url_for('consultas.bitacora', id_gestion = gestiones.id)}} ">Bitácora</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>

{% endif %}

{% endblock %}