{% extends "base_template.html" %}
{% from "_render_elements.html" import render_input %}

{% block title %}
    Groma | Alta de Tareas
{% endblock %}

{% block content %}
<div class="row">
	<div class="offset-md-3 col-md-6">
		<h1>Alta de tareas</h1>

		<form action="" method="post" enctype="multipart/form-data" novalidate>	
            {{ form.hidden_tag() }}
			{{ render_input(form.descripcion,'', id= "descripcion" , class="form-control", placeholder="Nombre de la tarea" ) }}
			{{ render_input(form.correlativa_de,'', id= "correlativa_de" , class="form-control" ) }}
			{{ render_input(form.dias_para_vencimiento,'', id= "dias_para_vencimiento" , class="form-control" ) }}
			{{ render_input(form.fecha_unica,'', id= "fecha_unica" , class="form-control" ) }}
			{{ render_input(form.carga_dibujante,'', id= "carga_dibujante" , class="form-control" ) }}
			<button type="submmit" class="btn btn-primary" >Guardar</button>
			
		</form>
	</div>
	
	{% if tareas %}
	<div class="offset-md-1 col-md-9">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">TAREA</th>
					<th scope="col">CORRELATIVA DE</th>
					<th scope="col">DIAS DE VENCIMIENTO</th>
					<th scope="col">¿ES FECHA UNICA?</th>
					<th scope="col">¿CARGA DIBUJANTE?</th>
					<th scope="col">¿ACTIVO?</th>
					<th scope="col">ACCION</th>
					
				</tr>
			</thead>
				
			<tbody>
				{% for tarea in tareas %}  
					<tr>
						<th scope="row">{{ tarea.descripcion }}</th>
						<th scope="row">{{ tarea.correlativa_de }}</th>
						<th scope="row">{{ tarea.dias_para_vencimiento }}</th>
						<th scope="row">{{ tarea.fecha_unica }}</th>
						<th scope="row">{{ tarea.carga_dibujante }}</th>
						<th scope="row">{{ tarea.activo }}</th>
						<td>
							<div class="dropdown">
								<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Acción
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item"  href="{{ url_for('abms.modificar_tarea', id_tarea = tarea.id) }}">Modificar Tarea</a>
								<a class="dropdown-item"  href="{{ url_for('abms.eliminar_tarea', id_tarea = tarea.id) }}">Eliminar Tarea</a>
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>	
	{% endif %}
</div>

{% endblock %}