{% extends "base_template.html" %}
{% from "_render_elements.html" import render_input %}

{% block title %}
Ordeplos | Actualizacion de contraseña
{% endblock %}


{% block content %}
<div class="row">
        <div class="offset-md-3 col-md-6">
            <form action="" method="post" enctype="multipart/form-data" novalidate>	
                {{ form.hidden_tag() }}
                                
                {{ render_input(form.password_actual,'', id= "password_actual" , class="form-control", placeholder="Password actual" ) }}
                {{ render_input(form.password_nuevo,'', id= "password_nuevo" , class="form-control", placeholder="Nuevo password" ) }}
                {{ render_input(form.password_nuevo_re,'', id= "password_nuevo_re" , class="form-control", placeholder="Confirma nuevo password" ) }}
                <button type="submmit" class="btn btn-primary" >Ingresar</button>
        </div>
    </div>
    
{% endblock %}
<div>¿No tienes cuenta? <a href="{{ url_for('auth.show_signup_form') }}">Regístrate</a></div>