{% extends "base_template_login.html" %}
{% from "_render_elements.html" import render_input %}
{% block title %}
	Ordeplos | Login
{% endblock %}

{% block content %}
    <form action="" method="post" class="login-form" enctype="multipart/form-data" novalidate>	
        {{ form.hidden_tag() }}
        <h3 class="text-center mb-4">Iniciar Sesión</h3>
        <div class="mb-3">
            {{ render_input(form.username,'', id= "username" , class="form-control", placeholder="Nombre de usuario" ) }}
        </div>
        <div class="mb-3">
            {{ render_input(form.password,'', id= "password" , class="form-control", placeholder="Elija un password" ) }}
        </div>
        <button type="submit" class="btn btn-primary w-100">Ingresar</button>
        <div> <a href="{{ url_for('auth.forgot_password') }}">¿Olvidó su contraseña?</a></div>
    </form>
{% endblock %}