{% from "_render_elements.html" import render_messages %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}
        {% endblock %}</title>
    {% block styles %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favicon.png') }}">
        <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}>
        <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>
    {% endblock %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('public.index') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            
            {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Ingresar <span class="sr-only">(current)</span></a>
                </li>

            {% else %}
                <li class="nav-item">
                    <a class="nav-link">{{ current_user.persona.descripcion_nombre }} <span class="sr-only">(current)</span></a>
                </li>
                {% if current_user.is_admin %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            GESTION DE USUARIOS
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="nav-link" href="{{ url_for('admin.list_users') }}">Admin <span class="sr-only">(current)</span></a>
                            <a class="nav-link" href="{{ url_for('auth.show_signup_form') }}">Registro de usuarios <span class="sr-only">(current)</span></a>          
                          </div>
                    </li>
                
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ABM
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="nav-link" href="{{ url_for('abms.alta_tipo_gestion') }}">Tipos de gestion<span class="sr-only">(current)</span></a>
                            <a class="nav-link" href="{{ url_for('abms.alta_tipo_bien') }}">Tipos de bien<span class="sr-only">(current)</span></a>
                            <a class="nav-link" href="{{ url_for('abms.alta_permiso') }}">Permisos<span class="sr-only">(current)</span></a>
                            <a class="nav-link" href="{{ url_for('abms.crear_roles') }}">Roles<span class="sr-only">(current)</span></a>
                            <a class="nav-link" href="{{ url_for('abms.alta_tarea') }}">Tareas<span class="sr-only">(current)</span></a>
                        </div>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        CONSULTAS
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('consultas.consulta_personas') }}">Consulta de personas</a>
                            <a class="dropdown-item" href="{{ url_for('consultas.lista_gestiones') }}">Consulta de gestiones</a>
                            <a class="dropdown-item" href="{{ url_for('consultas.tareas_pendientes') }}">Tareas pendientes</a>
                        </div>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('gestiones.gestiones') }}">GESTIONES <span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Salir <span class="sr-only">(current)</span></a>            
                </li>
            {% endif %}
            </li>
        </ul>
    </div>
  </nav>
 {{ render_messages(messages) }}
{% block content %}{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/mejoras.js') }}"></script>
<script src="{{ url_for('static', filename='js/qrcode.min.js') }}"></script>
{% endblock %}

</body>
</html>