{% from "_render_elements.html" import render_messages %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}
        {% endblock %}</title>
    {% block styles %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favicon.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
</head>
<body>
    <!-- Offcanvas Sidebar -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSidebar">
      <div class="offcanvas-header">
          <h5 class="offcanvas-title">MENU</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
          {% if current_user.is_anonymous %}
          <div class="mt-auto">
              <a href="{{ url_for('auth.login') }}" class="list-group-item list-group-item-action text-success">Ingresar</a>
          </div>
          
      {% else %}
          <div class="list-group">
              {% if current_user.is_admin %}
                  <a href="#" class="list-group-item list-group-item-action" data-bs-toggle="collapse" data-bs-target="#menu1" aria-expanded="false">
                      GESTION DE USUARIOS
                      <span>⮟</span>
                  </a>
                  <div class="collapse" id="menu1">
                      <a href="{{ url_for('admin.list_users') }}" class="list-group-item list-group-item-action ms-3">Admin</a>
                      <a href="{{ url_for('auth.show_signup_form') }}" class="list-group-item list-group-item-action ms-3">Registro de usuarios</a>
                  </div>
                  <a href="#" class="list-group-item list-group-item-action" data-bs-toggle="collapse" data-bs-target="#menu2" aria-expanded="false">
                      ABM SISTEMA
                      <span>⮟</span>
                  </a>
                  <div class="collapse" id="menu2">
                      <a href="{{ url_for('admin.alta_permiso') }}" class="list-group-item list-group-item-action ms-3">Permisos</a>
                      <a href="{{ url_for('admin.crear_roles') }}" class="list-group-item list-group-item-action ms-3">Roles</a>
                      <a href="{{ url_for('admin.alta_estados') }}" class="list-group-item list-group-item-action ms-3">Estados</a>
                      <a href="{{ url_for('admin.alta_tarea') }}" class="list-group-item list-group-item-action ms-3">Tareas</a>
                      <a href="{{ url_for('admin.alta_tipo_gestion') }}" class="list-group-item list-group-item-action ms-3">Tipos de gestion</a>
                  </div>
              {% endif %}
              <a href="#" class="list-group-item list-group-item-action" data-bs-toggle="collapse" data-bs-target="#menu4" aria-expanded="false">
                  CONSULTAS
                  <span>⮟</span>
              </a>
              <div class="collapse" id="menu4">
                  <a href="{{ url_for('consultas.consulta_personas') }}" class="list-group-item list-group-item-action ms-3">Consulta de personas</a>
                  <a href="{{ url_for('consultas.lista_gestiones') }}" class="list-group-item list-group-item-action ms-3">Consulta de gestiones</a>
                  <a href="{{ url_for('consultas.tareas_pendientes') }}" class="list-group-item list-group-item-action ms-3">Tareas pendientes</a>
                </div>
              <a href="#" class="list-group-item list-group-item-action" data-bs-toggle="collapse" data-bs-target="#menu5" aria-expanded="false">
                  GESTIONES
                  <span>⮟</span>
              </a>
              <div class="collapse" id="menu5">
                  <a href="{{ url_for('gestiones.gestiones') }}" class="list-group-item list-group-item-action ms-3"" >GESTIONES </a>
              </div>
                  <div class="mt-auto">
                  <a href="{{ url_for('auth.logout') }}" class="list-group-item list-group-item-action text-danger">Salir</a>
              </div>
          </div>
      {% endif %}
      </div>
  </div>
  <div class="content">
      <nav class="navbar navbar-light bg-light mb-4 fixed-top">
          <button class="btn btn-outline-secondary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">☰</button>
          
          {% if current_user.is_anonymous %}
          {% else %}
          <div class="d-flex justify-content-between align-items-center">
              <a class="nav-link" href="{{ url_for('public.index') }}"> <span class="navbar-brand mb-0 h1 ms-3">{{ current_user.persona.descripcion_nombre }}</span></a>
          </div>
          {% endif %}
      </nav>
{{ render_messages(messages) }}
<body>

{% block content %}{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/qrcode.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/print.js') }}"></script>
{% endblock %}


</body>
</html>